body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 238, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Nav.NavBar-NavLinks {
  text-align: center;
}

.NavBar-NavLinks button {
  margin-right: 10px;
  margin-top: 20px;
  padding: 20px;
  background: transparent;
  border: none;
}

.NavBar-NavLinks img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.NavBar-NavLinks img:hover {
  transform: scale(1.2);
}

.home-link {
  text-decoration: none;
  font-size: 25px;
  color: black;
  margin-top: 30px;
  padding-left: 15px;
}
#next {
  display: block;
  width: 10%;
  border: none;
  background-color: #1e90ff;
  padding-bottom: 14px 28px;
  font-size: 20px;
  font-family: sans-serif;
  color: #dce1e4;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;

  border-radius: 25px;
  float: right;
}

#back {
  display: block;
  width: 10%;
  border: none;
  background-color: #1e90ff;
  padding-bottom: 14px 28px;
  font-size: 20px;
  font-family: sans-serif;
  color: #dce1e4;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  float: left;
  margin-bottom: 50px;
}

#typebutton {
  display: block;
  width: 10%;
  border: none;
  background-color: #1e90ff;
  padding-bottom: 14px 28px;
  font-size: 20px;
  font-family: sans-serif;
  color: #dce1e4;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  float: left;
  margin-bottom: 50px;
}

#start {
  display: block;
  width: 10%;
  border: none;
  background-color: #1e90ff;
  padding-bottom: 14px 28px;
  font-size: 20px;
  font-family: sans-serif;
  color: #dce1e4;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  float: left;
  margin-bottom: 50px;
}

.movie-poster {
  justify-self: center;
  width: 100%;
}

.movie-container {
  /* display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  /* text-align: center;
  padding: 1rem;
  width: 20%;
  height: 28rem;
  margin-bottom: 1rem; */
}
.netflix .card {
  border: rgb(228, 7, 7) solid 2px;
  color: whitesmoke;
}
.hulu .card {
  border: #66aa33 solid 2px;
}
.prime .card {
  border: #232f3e solid 2px;
}
.peacock .card {
  border: #fccc12 solid 2px;
}
.paramount .card {
  border: #1e90ff solid 2px;
}
.apple .card {
  border: #1e90ff solid 2px;
}
.starz .card {
  border: rgb(24, 23, 23) solid 2px;
}
.showtime .card {
  border: #b10000 solid 2px;
}
.hbo .card {
  border: #b535f6 solid 2px;
}
.disney .card {
  border: #1e90ff solid 2px;
}
